body{
	background-color: grey;

}
p{
	font-size: 40px;
	font-family: cursive;
	flex-flow: nowrap;
	padding: 170px;
	border-style: dashed;
	border-radius: 100px;
	background-color: rgba(243,255,152,0.3);
	margin-left: 30px;
	margin-top: 80px;
}

button{
	font-family: cherry;
	font-size: 20px;
	background-color: rgba(243,255,152);
	float: top;
	border-radius: 30px;
	margin: 10px;
	position: relative;
	box-shadow: 10px;
}
header{
	float: right;
}