body{
	font-size: 30px;
	font-family: serif;
	background:url('sky.jpeg');
	background-size: cover;
	background-position: center;
	backface-visibility: 100%;
	background-repeat: no-repeat;
}
.float{
	background-color: white;
	padding: 50px;
	margin-top: 90px;
	opacity: 0.85;
	float: right;
	font-family: castellar;
	font-weight: 30px;
	font-size: 29px;
	margin-right: 0px;
	color: orange;
	border-style: solid;
	border-radius: 40px;
	border-width: 5px;
}

nav ul li{
	list-style-type: none;
	float: top;
	width: 217px;
	height: 38px;
	background-color: white;
	opacity: 0.9;
	line-height: 40px;
	text-align: center;
	font-size: 30px;
	font-family: gabriola;
	margin-right: 10px;
	margin-top: 8px;
}
ul li a{
	text-decoration: none;
	color: black;
	display: circle;
	transition: 1.8s ease-in-out;
	border-radius: 20px;
}
nav ul li a:hover{
	background-color: rgba(255,0,0,0.37);
	transition: ease-in-out;
	transition-timing-function: 100ms;
}
nav ul li a:visited{
	color: red;
}
nav ul li a:active{
	color: green;
}

}header{
	float: right;
}
ul{
	float: bottom;
}